<div class="container">
  <div class="row">
    <div class="col">
      <p>test</p>
      <button class="btn btn-primary">Bootstrap button example</button>
    </div>
  </div>
</div>
<mat-card class="card-demo">
    <section class="mat-flex">
      <div class="title-center">New App</div>
      <span class="spacer"></span>
      <button mat-button class="highlight-orange">
        <mat-icon>zoom_in</mat-icon>
        Zoom Screens
      </button>
    </section>
    <div class="containerX">
Image
    </div>
    <section class="mat-flex">
      <div class="title-center">New App</div>
      <span class="spacer"></span>
      <button mat-button class="highlight-orange">
        <mat-icon>zoom_in</mat-icon>
        Zoom Screens
      </button>
    </section>
</mat-card>