<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <mat-card class="mb-4">
        <section class="mat-flex mb-2">
          <div class="title-center">New App</div>
          <span class="spacer"></span>
          <button mat-button class="highlight-orange">
            <mat-icon>zoom_in</mat-icon>
            Zoom Screens
          </button>
        </section>
        <mat-divider></mat-divider>
        <div class="image-container">
          <carousel [showIndicators]="false">
            <slide>
              <img
                src="https://dummyimage.com/991x550"
                class="image-carousel"
              />
            </slide>
            <slide>
              <img
                src="https://dummyimage.com/991x550"
                class="image-carousel"
              />
            </slide>
            <slide>
              <img
                src="https://dummyimage.com/991x550"
                class="image-carousel"
              />
            </slide>
          </carousel>
        </div>
        <mat-divider></mat-divider>
        <section
          class="mat-flex mt-2 d-flex flex-wrap justify-content-center footer-section button-group"
        >
          <button mat-flat-button color="orange">
            <mat-icon>add</mat-icon>
            Add News
          </button>
          <button mat-flat-button color="orange">
            <mat-icon>how_to_reg</mat-icon>
            App Permissions
          </button>
          <button mat-flat-button color="orange" (click)="openDialog()">
            <mat-icon>create</mat-icon>
            Modify App
          </button>
          <button mat-flat-button color="orange">
            <mat-icon>delete</mat-icon>
            Delete App
          </button>
        </section>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card class="mb-4">
        <section class="mat-flex mb-2">
          <div class="title-center">New App</div>
          <span class="spacer"></span>
          <button mat-button class="highlight-orange">
            <mat-icon>zoom_in</mat-icon>
            Zoom Screens
          </button>
        </section>
        <mat-divider></mat-divider>
        <div class="image-container">
          <carousel [showIndicators]="false">
            <slide>
              <img
                src="https://dummyimage.com/991x550"
                class="image-carousel"
              />
            </slide>
            <slide>
              <img
                src="https://dummyimage.com/991x550"
                class="image-carousel"
              />
            </slide>
            <slide>
              <img
                src="https://dummyimage.com/991x550"
                class="image-carousel"
              />
            </slide>
          </carousel>
        </div>
        <mat-divider></mat-divider>
        <section
          class="mat-flex mt-2 d-flex flex-wrap justify-content-center footer-section button-group"
        >
          <button mat-flat-button color="orange">
            <mat-icon>add</mat-icon>
            Add News
          </button>
          <button mat-flat-button color="orange">
            <mat-icon>how_to_reg</mat-icon>
            App Permissions
          </button>
          <button mat-flat-button color="orange" (click)="openDialog()">
            <mat-icon>create</mat-icon>
            Modify App
          </button>
          <button mat-flat-button color="orange">
            <mat-icon>delete</mat-icon>
            Delete App
          </button>
        </section>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <mat-card class="mb-4">
        <section class="mat-flex mb-2">
          <div class="title-center">New App</div>
          <span class="spacer"></span>
          <button mat-button class="highlight-orange">
            <mat-icon>zoom_in</mat-icon>
            Zoom Screens
          </button>
        </section>
        <mat-divider></mat-divider>
        <div class="image-container">
          <carousel [showIndicators]="false">
            <slide>
              <img
                src="https://dummyimage.com/991x550"
                class="image-carousel"
              />
            </slide>
            <slide>
              <img
                src="https://dummyimage.com/991x550"
                class="image-carousel"
              />
            </slide>
            <slide>
              <img
                src="https://dummyimage.com/991x550"
                class="image-carousel"
              />
            </slide>
          </carousel>
        </div>
        <mat-divider></mat-divider>
        <section
          class="mat-flex mt-2 d-flex flex-wrap justify-content-center footer-section button-group"
        >
          <button mat-flat-button color="orange">
            <mat-icon>add</mat-icon>
            Add News
          </button>
          <button mat-flat-button color="orange">
            <mat-icon>how_to_reg</mat-icon>
            App Permissions
          </button>
          <button mat-flat-button color="orange" (click)="openDialog()">
            <mat-icon>create</mat-icon>
            Modify App
          </button>
          <button mat-flat-button color="orange">
            <mat-icon>delete</mat-icon>
            Delete App
          </button>
        </section>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card class="mb-4">
        <section class="mat-flex mb-2">
          <div class="title-center">New App</div>
          <span class="spacer"></span>
          <button mat-button class="highlight-orange">
            <mat-icon>zoom_in</mat-icon>
            Zoom Screens
          </button>
        </section>
        <mat-divider></mat-divider>
        <div class="image-container">
          <carousel [showIndicators]="false">
            <slide>
              <img
                src="https://dummyimage.com/991x550"
                class="image-carousel"
              />
            </slide>
            <slide>
              <img
                src="https://dummyimage.com/991x550"
                class="image-carousel"
              />
            </slide>
            <slide>
              <img
                src="https://dummyimage.com/991x550"
                class="image-carousel"
              />
            </slide>
          </carousel>
        </div>
        <mat-divider></mat-divider>
        <section
          class="mat-flex mt-2 d-flex flex-wrap justify-content-center footer-section button-group"
        >
          <button mat-flat-button color="orange">
            <mat-icon>add</mat-icon>
            Add News
          </button>
          <button mat-flat-button color="orange">
            <mat-icon>how_to_reg</mat-icon>
            App Permissions
          </button>
          <button mat-flat-button color="orange" (click)="openDialog()">
            <mat-icon>create</mat-icon>
            Modify App
          </button>
          <button mat-flat-button color="orange">
            <mat-icon>delete</mat-icon>
            Delete App
          </button>
        </section>
      </mat-card>
    </div>
  </div>
</div>
