<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <section class="mat-flex">
          <h2>Assign User Rights</h2>
        </section>
        <mat-divider></mat-divider>
        <mat-card-content class="mt-3">
          <form class="template-form">
            <mat-form-field appearance="fill">
              <mat-label>App</mat-label>
              <mat-select [(value)]="appName">
                <mat-option value="1">News App1</mat-option>
                <mat-option value="2">News App2</mat-option>
                <mat-option value="3">News App3</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Users</mat-label>
              <mat-select [(value)]="appUser">
                <mat-option value="1">User 1</mat-option>
                <mat-option value="2">User 2</mat-option>
                <mat-option value="3">User 3</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Categories</mat-label>
              <mat-select [(value)]="appCategory">
                <mat-option value="1">Category App1</mat-option>
                <mat-option value="2">Category App2</mat-option>
                <mat-option value="3">Category App3</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
