.horizontal-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.horizontal-form button {
  min-width: 9rem;
}
.mat-card {
  border-radius: 0;
}

.btn-css {
  border: 2px solid #e57c20 !important;
  border-radius: 3px !important;
  width: 48%;
}
