<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <mat-card class="mb-4">
        <section class="mat-flex mb-2">
          <div class="title-center">Template 1</div>
          <span class="spacer"></span>
          <button mat-button class="highlight-orange">
            <mat-icon>zoom_in</mat-icon>
            Zoom Screens
          </button>
        </section>
        <mat-divider></mat-divider>
        <div class="image-container">
          <carousel [showIndicators]="false">
            <slide>
              <img src="https://dummyimage.com/991x550" class="image-carousel">
            </slide>
            <slide>
              <img src="https://dummyimage.com/991x550" class="image-carousel">
            </slide>
            <slide>
              <img src="https://dummyimage.com/991x550" class="image-carousel">
            </slide>
          </carousel>
        </div>
        <mat-divider></mat-divider>
        <section class="mat-flex d-flex flex-wrap justify-content-center footer-section">
          <button mat-flat-button color="orange" (click)="openDialog()">
            <mat-icon>create</mat-icon>
            <span>Customize &amp; Create</span>
          </button>
        </section>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card class="mb-4">
        <section class="mat-flex mb-2">
          <div class="title-center">Template 2</div>
          <span class="spacer"></span>
          <button mat-button class="highlight-orange">
            <mat-icon>zoom_in</mat-icon>
            Zoom Screens
          </button>
        </section>
        <mat-divider></mat-divider>
        <div class="image-container">
          <carousel [showIndicators]="false">
            <slide>
              <img src="https://dummyimage.com/991x550" class="image-carousel">
            </slide>
            <slide>
              <img src="https://dummyimage.com/991x550" class="image-carousel">
            </slide>
            <slide>
              <img src="https://dummyimage.com/991x550" class="image-carousel">
            </slide>
          </carousel>
        </div>
        <mat-divider></mat-divider>
        <section class="mat-flex d-flex flex-wrap justify-content-center footer-section">
          <button mat-flat-button color="orange" (click)="openDialog()">
            <mat-icon>create</mat-icon>
            <span>Customize &amp; Create</span>
          </button>
        </section>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <mat-card class="mb-4">
        <section class="mat-flex mb-2">
          <div class="title-center">Template 3</div>
          <span class="spacer"></span>
          <button mat-button class="highlight-orange">
            <mat-icon>zoom_in</mat-icon>
            Zoom Screens
          </button>
        </section>
        <mat-divider></mat-divider>
        <div class="image-container">
          <carousel [showIndicators]="false">
            <slide>
              <img src="https://dummyimage.com/991x550" class="image-carousel">
            </slide>
            <slide>
              <img src="https://dummyimage.com/991x550" class="image-carousel">
            </slide>
            <slide>
              <img src="https://dummyimage.com/991x550" class="image-carousel">
            </slide>
          </carousel>
        </div>
        <mat-divider></mat-divider>
        <section class="mat-flex d-flex flex-wrap justify-content-center footer-section">
          <button mat-flat-button color="orange" (click)="openDialog()">
            <mat-icon>create</mat-icon>
            <span>Customize &amp; Create</span>
          </button>
        </section>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card class="mb-4">
        <section class="mat-flex mb-2">
          <div class="title-center">Template 4</div>
          <span class="spacer"></span>
          <button mat-button class="highlight-orange">
            <mat-icon>zoom_in</mat-icon>
            Zoom Screens
          </button>
        </section>
        <mat-divider></mat-divider>
        <div class="image-container">
          <carousel [showIndicators]="false">
            <slide>
              <img src="https://dummyimage.com/991x550" class="image-carousel">
            </slide>
            <slide>
              <img src="https://dummyimage.com/991x550" class="image-carousel">
            </slide>
            <slide>
              <img src="https://dummyimage.com/991x550" class="image-carousel">
            </slide>
          </carousel>
        </div>
        <mat-divider></mat-divider>
        <section class="mat-flex d-flex flex-wrap justify-content-center footer-section">
          <button mat-flat-button color="orange" (click)="openDialog()">
            <mat-icon>create</mat-icon>
            <span>Customize &amp; Create</span>
          </button>
        </section>
      </mat-card>
    </div>
  </div>
</div>