.title-center {
    font-weight: 500;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container {
    padding: 16px 0;
}
.image-carousel {
    display: block;
    height:auto;
    width: 100%;
}
.footer-section button{
    margin-left: .5rem;
    margin-top: .5rem;
}
.full-width {
    width: 100%;
}
.close-icon {
    margin-top: -20px;
    margin-right: -10px;
}
  