<div class="main-bg-color">
  <div class="container">
    <div class="row justify-content-center vh-100 align-items-center">
      <div class="col-md-5">
        <mat-card class="my-card form-wrapper bg-dark p-5">
          <div class="text-center text-white">
            <h1>NoCodeApp</h1>
          </div>
          <mat-card-content>
            <form class="my-form">
              <mat-form-field class="full-width-field">
                <mat-label>Full Name</mat-label>
                <input matInput placeholder="Full Name" name="full_name" />
              </mat-form-field>
              <mat-form-field class="full-width-field">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" name="email" />
              </mat-form-field>
              <mat-form-field class="full-width-field">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password" name="pass" />
                <mat-icon matSuffix>remove_red_eye</mat-icon>
              </mat-form-field>
              <mat-form-field class="full-width-field">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Confirm Password" name="conf_pass" />
                <mat-icon matSuffix>remove_red_eye</mat-icon>
              </mat-form-field>
            </form>
          </mat-card-content>
          <div class="row">
            <div class="col-md-12">
              <mat-card-actions>
                <button
                  mat-button
                  class="btn btn-custom-white btn-block btn-lg btn-custom"
                >
                  SIGN UP
                </button>
              </mat-card-actions>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-left">
              <a [routerLink]="['/login']" class="theme-link">Back to login</a>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
