/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif !important;
  font-size: 1rem;
}
.main-bg-color {
  background: #f7790a;
}
.bg-dark {
  background: #000 !important;
}
.spacer {
  flex: 1 1 auto;
}
.mat-flex {
  display: flex;
}
.highlight-orange {
  color: #e57c20 !important;
}
.highlight-orange .mat-select-value {
  color: #e57c20 !important;
}
.full-width-field {
  width: 100%;
}
.btn-custom {
  padding: 0.3rem 0 !important;
}
.btn-custom-white {
  padding: 0.3rem 0 !important;
  background: #fff !important;
  color: #e57c20 !important;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 16px !important;
  border-radius: 0 !important;
}
.btn-custom-white:hover {
  background: #e57c20 !important;
  color: #fff !important;
}
.btn-bordered {
  background: transparent !important;
  color: #e57c20 !important;
  border: 2px solid #e57c20 !important;
  border-radius: 3px !important;
  padding: 0.3rem 0 !important;
}
:focus {
  outline-width: 0;
}
:focus {
  outline-width: 0 !important;
}
.mat-orange {
  background: #fc7700;
  color: #fff;
}
.theme-link {
  color: #e57c20;
  text-decoration: none !important;
}

.form-wrapper .ng-star-inserted,
.form-wrapper mat-icon {
  color: #636363;
}
.form-wrapper .mat-input-element {
  color: #fff !important;
}
.form-wrapper .mat-form-field-infix input {
  color: #fff !important;
}
.color-picker .app-color-picker {
  display: inline-block;
}

.template-form .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background-color: #fc7700;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #fc7700;
}

.horizontal-form .mat-form-field-label,
.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #deac30 !important;
}
.horizontal-form .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #deac30 !important;
}

.auth-form .mat-form-field-appearance-fill .mat-form-field-underline::before,
.auth-form .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #f0f0f0;
}

/* input with custom border all side */
.form-field-border .mat-form-field-flex {
  border: 1px solid #ced4da;
  border-radius: 0 !important;
}
.form-field-border
  .mat-form-field-appearance-fill
  .mat-form-field-underline::before {
  background: transparent !important;
}
.color-input-box {
  line-height: 0px;
}

.paginator .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
}
