/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.main-bg-color {
  background: #f7790a;
}
.bg-dark {
  background: #000 !important;
}
.spacer {
  flex: 1 1 auto;
}
.mat-flex {
  display: flex;
}
.highlight-orange {
  color: #e57c20;
}
.full-width-field {
  width: 100%;
}
.btn-custom-white {
  padding: 0.3rem 0 !important;
  background: #fff !important;
  color: #e57c20 !important;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 16px !important;
  border-radius: 0 !important;
}
.btn-custom-white:hover {
  background: #e57c20 !important;
  color: #fff !important;
}
:focus {
  outline-width: 0;
}
:focus {
  outline-width: 0 !important;
}
.mat-orange {
  background: #fc7700;
  color: #fff;
}
.theme-link {
  color: #e57c20;
  text-decoration: none !important;
}

.form-wrapper .ng-star-inserted,
.form-wrapper mat-icon {
  color: #636363;
}
.form-wrapper .mat-input-element {
  color: #fff !important;
}
.form-wrapper .mat-form-field-infix input {
  color: #fff !important;
}
.color-picker .app-color-picker {
  display: inline-block;
}

.template-form .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}
