<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <section class="mat-flex">
          <h2>User Details</h2>
        </section>
        <mat-divider></mat-divider>
        <mat-card-content class="mt-3">
          <app-data-table
            [tableData]="tableData"
            [columnHeader]="columnHeader"
            [tableActions] = "tableActions"
            (action) = "actionFunction($event)"
          ></app-data-table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
