<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h1 mat-dialog-title>Modify App</h1>

      <div mat-dialog-content>
        <mat-form-field>
          <mat-label>App Name</mat-label>
          <input matInput [(ngModel)]="data.city" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>App Logo</mat-label>
          <input matInput [(ngModel)]="food" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Loading Image</mat-label>
          <input matInput [(ngModel)]="food" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>App Primary Color</mat-label>
          <input matInput [(ngModel)]="food" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>App Secondary color</mat-label>
          <input matInput [(ngModel)]="food" />
        </mat-form-field>
      </div>

      <div mat-dialog-actions>
        <button mat-button color="orange" (click)="onNoClick()">Publish</button>
      </div>
    </div>
  </div>
</div>
